.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: #673ab7;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.active-route {
  background-color: #673ab7 !important;
  color: white !important;
}
mat-nav-list a {
   margin-top: 0 !important;
}
