<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="bar-chart"  routerLinkActive="active-link">Bar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="doughnut-chart"  routerLinkActive="active-link">Doughnut Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="radar-chart"  routerLinkActive="active-link">Radar Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="pie-chart"  routerLinkActive="active-link">Pie Chart</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="line-chart"  routerLinkActive="active-link">Line Chart</a>
    </li>
  </ul>
  <div class="main-content" style="height:60%;width: 60%;">
      <router-outlet></router-outlet>
  </div>
</div>
